@font-face {
    font-family: Norse-Bold;
    src: url("./Norse-Bold.otf") format("opentype");
}

body {
    background-color: rgb(240, 238, 238);
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
}

.image-section {
    background-image: url(./background.avif);
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    position: relative;
    flex-shrink: 0;
}

img {
    max-width: 10vh;
}


.form-section {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding-top: 20vh;
    

}

.lorem {
    padding-left: 2vw;
    margin-bottom: 2vh;
    margin-right: 20vw;
    flex-wrap: wrap;

}

.input-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-subsection {
    padding-bottom: 20px;
    display: flex;
    gap: 50px;
}

.lorem,
legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(20px + 1vh);
    font-weight: 600;
}

legend {
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: rgb(80, 80, 80);
}

legend,
.form-subsection {
    flex-shrink: 0;
    flex-wrap: wrap;
    padding-left: 2vw;
    background-color: white;
}

.logo {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40vh;
    padding: 5% 0;
    width: 30vw;
    opacity: 0.8;
}

.logo-text {
    font-family: Norse-Bold;
    font-size: calc(50px + (4vw));
}

.footer {
    font-weight: 700px;
    font-size: 1.2em;
    color: grey;
    position: absolute;
    bottom: 0vh;
    text-align: center;
    width: 30vw;
    padding: 20px 0;
    opacity: 0.8;
    background-color: black;
}

label {
    align-self: flex-start;
    color: rgb(49, 49, 49);
}


input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
}


input:focus {
    border: 1px solid blue;
}


button {
    background-color: #596D48;
    margin-top: 2vh;
    margin-left: 4vh;
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
    padding: 5px 25px;
}

input+span {
    position: relative;
    right: -90px;
    top: -2.6vh;
}


input:invalid+span::after {
    content: "✖";
    color: red;

}



input:valid+span::after {
    content: "✓";
    color: green;
}
.already-a-user{
    font-size:1.2em;
    padding-top:1vh;
    margin-left:2vw;
}

a,a:visited{
    color: #596D48;
}